VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

# Socket.IO Debug (true/false)
VITE_SOCKET_DEBUG=false

# Mapbox
VITE_MAPBOX_ACCESS_TOKEN=
